[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir DMR+
Name[es_ES]=Abrir DMR+
Comment=
Exec=sh -c "cd /home/orangepi/ORANGEPI/;sleep 10;mate-terminal --geometry 105x16+22+880 --title=DMR+ -x sh ejecutar_plus_05.sh"
Icon=/home/orangepi/ORANGEPI/ICONO_DMRPLUS.png
Terminal=false
StartupNotify=false
Path=
Hidden=false

