[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Libre
Comment=
Exec=sh -c "cd /home/orangepi/ORANGEPI/;sleep 10;xterm -geometry 86x16+1277+803 -bg black -fg yellow -fa 'roboto' -fs 9x -T ESPECIAL -e sh ejecutar_especial.sh"
Icon=/home/orangepi/ORANGEPI/ICONO_ESPECIAL_OFF.png
Path=/home/orangepi/ORANGEPI
Terminal=false
Name[es_ES]=Abrir  ESPECIAL