[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir ircDDB
Name[es_ES]=Abrir ircDDB
Comment=
Exec=sh -c "cd /home/orangepi/ORANGEPI/;sleep 10;sh ejecutar_d-star_05.sh"
Icon=/home/orangepi/ORANGEPI/DSTAR.png
Terminal=false
StartupNotify=false
Path=
Hidden=false
