[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Radio
Name[es_ES]=Abrir Radio
Comment=
Exec=sh -c "cd /home/orangepi/ORANGEPI/;sleep 10;mate-terminal --geometry 104x16+1151+880 --title=RADIO -x sh ejecutar_mmdvm_05.sh"
Icon=/home/orangepi/ORANGEPI/MMDVM.png
Terminal=false
StartupNotify=false
Path=
Hidden=false

