[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Radio
Name[es_ES]=Abrir Radio
Comment=
Exec=sh -c "cd /home/orangepi/ORANGEPI/;sleep 10;xterm -geometry 86x16+1277+803 -bg blue -fg white -fa 'roboto' -fs 9x -T RADIO -e sh ejecutar_mmdvm_05.sh"
Icon=/home/orangepi/ORANGEPI/MMDVM.png
Terminal=false
StartupNotify=false
Path=
Hidden=false

