[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir YSF
Name[es_ES]=Abrir YSF
Comment=
Exec=sh -c "cd /home/orangepi/ORANGEPI/;sleep 10;sh ejecutar_ysf_05.sh"
Icon=/home/orangepi/ORANGEPI/SOLO_YSF.png
Terminal=false
StartupNotify=false
Path=/home/orangepi/ORANGEPI/
Hidden=false