[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Libre
Comment=
Exec=sh ejecutar_especial.sh
Icon=/home/orangepi/ORANGEPI/ICONO_ESPECIAL_OFF.png
Path=/home/orangepi/ORANGEPI
Terminal=false
Name[es_ES]=Abrir  ESPECIAL
