[Desktop Entry]
Version=1.0
Type=Application
Name=AbrirsoloDstar
Comment=
Exec=mate-terminal --geometry 104x16+1151+880 --title=SOLODSTAR -x sh ejecutar_solodstar.sh
Icon=/home/orangepi/ORANGEPI/SOLO_D-STAR.png
Path=/home/orangepi/ORANGEPI
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir solo D-STAR
