[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Svxlink
Comment=
Exec=sh ejecutar_svxlink_05.sh
Icon=/home/orangepi/ORANGEPI/DMRPLUS_EDITOR.png
Path=/home/orangepi/ORANGEPI
Terminal=false
StartupNotify=false

