[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Svxlink
Comment=
Exec=mate-terminal --geometry 68x29+22+50 --title=SVXLINK -x sh ejecutar_svxlink_05.sh
Icon=/home/orangepi/ORANGEPI/DMRPLUS_EDITOR.png
Path=/home/orangepi/ORANGEPI
Terminal=false
StartupNotify=false

