[Desktop Entry]
Version=1.0
Type=Application
Name=D-Star config
Comment=
Exec=./qt_editor_ircddb
Icon=/home/orangepi/ORANGEPI/EDITAR.png
Path=/home/orangepi/qt
Terminal=false
StartupNotify=false
Name[es_ES]=Editar ircDDB
