[Desktop Entry]
Version=1.0
Type=Application
Name=Editar DMRPlus
Comment=
Icon=/home/orangepi/ORANGEPI/editar_bm.png
Path=/home/orangepi/qt
Terminal=false
Name[es_ES]=Editar BM
StartupNotify=false
Exec=./qt_editor_bm
