[Desktop Entry]
Version=1.0
Type=Application
Name=Notas de la version
Comment=
Icon=/home/orangepi/ORANGEPI/ICONO-ADER.png
Path=/home/orangepi/ORANGEPI
Terminal=false
Name[es_ES]=Notas de la version
StartupNotify=false
Exec=sh nota_version_06.sh
