[Desktop Entry]
Version=1.0
Type=Application
Name=Top
Comment=
Exec=mate-terminal -x top
Icon=/home/orangepi/ORANGEPI/top.png
Path=
Terminal=false
StartupNotify=false
