[Desktop Entry]
Version=1.0
Type=Application
Name=Top
Comment=
Exec=xterm -geometry 86x29+650+50 -bg black -fg white -fa ‘verdana’ -fs 9x -T TOP -e top
Icon=/home/orangepi/ORANGEPI/top.png
Path=
Terminal=false
StartupNotify=false
