[Desktop Entry]
Version=1.0
Type=Application
Name=YSFGateway
Comment=
Exec=sh ejecutar_ysf_05.sh
Icon=/home/orangepi/ORANGEPI/C4FM.png
Path=/home/orangepi/ORANGEPI
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir YSF
